<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <main class="container">
    <h1 class="title">To Do List</h1>
    <section class="main-container">
      <div class="box prioridade">
        <div class="box-header">
          <section class="hidden" id="form1">
            <form action="/priority/create" method="post">
              <div class="close">
                <span id="close1" class="material-icons-round">close</span>
              </div>
              <textarea
                cols="30"
                rows="3"
                name="conteudo"
                placeholder="Digite aqui"
              ></textarea
              ><br />
              <button class="btn">Adicionar</button>
            </form>
          </section>

          <h2 class="title-box">Prioridade</h2>
          <span id="open1" class="material-icons-round">add</span>
        </div>
        <div>
          <ul>
            <% priorities.forEach(priority => { %>
            <li class="box-item">
              <%= priority.conteudo %>
              <form method="post" action="/priority/delete">
                <input type="hidden" name="id" value="<%= priority.id %>" />
                <button style="background-color: transparent; border: none">
                  <span class="material-icons-round">done</span>
                </button>
              </form>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>

      <div class="box a-fazer">
        <div class="box-header">
          <section class="hidden" id="form2">
            <form action="/to-do/create" method="post">
              <div class="close">
                <span id="close2" class="material-icons-round">close</span>
              </div>
              <textarea
                cols="30"
                rows="3"
                name="conteudo"
                placeholder="Digite aqui"
              ></textarea>
              <br />
              <button class="btn">Adicionar</button>
            </form>
          </section>

          <h3 class="title-box">A fazer</h3>
          <span id="open2" class="material-icons-round">add</span>
        </div>
        <div>
          <ul>
            <% to_dos.forEach((to_do) => { %>
            <li class="box-item">
              <%= to_do.conteudo %>
              <form
                method="post"
                action="/to-do/delete"
                style="display: inline"
              >
                <input type="hidden" name="id" value="<%= to_do.id %>" />
                <button style="background-color: transparent; border: none">
                  <span class="material-icons-round">done</span>
                </button>
              </form>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>

      <div class="box notes">
        <div class="box-header">
          <section id="form3">
            <form action="/note/create" method="post">
              <div class="close">
                <span id="close3" class="material-icons-round">close</span>
              </div>
              <textarea
                cols="30"
                rows="3"
                name="conteudo"
                placeholder="Digite aqui"
              ></textarea
              ><br />
              <button class="btn">Adicionar</button>
            </form>
          </section>

          <h3 class="title-box">Notas</h3>
          <span id="open3" class="material-icons-round">add</span>
        </div>
        <div class="box-notes">
          <% notes.forEach((note) => { %>
          <form method="post" action="/note/delete" style="display: inline">
            <input type="hidden" name="id" value="<%= note.id %>" />
            <p>
              - <%= note.conteudo %>
              <button style="background-color: transparent; border: none">
                <span class="material-icons-round">close</span>
              </button>
            </p>
          </form>
          <% }) %>
        </div>
      </div>
    </section>
  </main>
  <%- include('./partials/footer.ejs') %>
  <script src="/js/script.js"></script>
</body>
