<%- include('../partials/header.ejs') %>

<style>
   .c-edit {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
   }
   .c-edit p {
      padding: 10px 0;
   }
   .title-edit {
      margin-top: 20px;
   }
   .c-delete {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .btn-delete {
      margin-top: 35px;
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      background-color: #b91c1c;
      transition: .3s;
   }
   .btn-delete:hover {
      box-shadow: 0 5px 10px -3px #991b1b;
   }
</style>
<body>
   <%- include('../partials/navbar.ejs') %>
   <div class="container">
      <h1 class="title">Edição de dados</h1>
      <%- include('../partials/successMsg.ejs') %> 
      
      <h2 class="title-edit">Nome</h2>
      <div class="c-edit">
         <p><%= user.name %></p>

         <a href="/user/edit/name/<%= user.id %>"><span class="material-icons-round">border_color</span></a>
      </div>
      <hr>

      <h2 class="title-edit">E-mail</h2>
      <div class="c-edit">
         <p><%= user.email %></p>
      </div>
      <hr>

      <h2 class="title-edit">Senha</h2>
      <div class="c-edit">
         <p>*******</p>
         
         <a href="/user/edit/password/<%= user.id %>"><span class="material-icons-round">border_color</span></a>
      </div>

      <form onsubmit="confirmDelete(event, this)" method="post" action="/user/delete" class="c-delete">
         <button class="btn-delete">Deletar conta</button>
      </form>
   </div>
</body>
<script>
   function confirmDelete(event, form) {
      event.preventDefault()
      var decision = confirm('Você quer deletar essa conta?')
      if (decision) {
         form.submit()
      }
   }
</script>
</html>